<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace:必须是对应接口的全路径
-->
<mapper namespace="com.zl.dao.GoodDao">
    <select id="queryGood" resultType="com.zl.pojo.Good">
        select id id, good_name goodName, good_id goodId, good_price goodPrice, good_type goodType from SC_GOODS
    </select>
</mapper>
